#horizontalArrowAnim 
  .horizontalArrowSliding
    .arrow1
  .horizontalArrowSliding.delay1
    .arrow1
  .horizontalArrowSliding.delay2
    .arrow1
  .horizontalArrowSliding.delay3
    .arrow1
  .horizontalArrowSliding.delay4
    .arrow1
  .horizontalArrowSliding.delay5
    .arrow1
  .horizontalArrowSliding.delay6
    .arrow1
  .horizontalArrowSliding.delay7
    .arrow1
.windmill
  #verticalArrowAnim 
    .verticalArrowSliding
      .arrow
    .verticalArrowSliding.delay1
      .arrow
    .verticalArrowSliding.delay2
      .arrow
    .verticalArrowSliding.delay3
      .arrow
    .verticalArrowSliding.delay4
      .arrow
    .verticalArrowSliding.delay5
      .arrow
    .verticalArrowSliding.delay6
      .arrow
    .verticalArrowSliding.delay7
      .arrow 

  .hills
  .wheel
    .windwheel
    .windwheel.windwheel2
    .windwheel.windwheel3
    .windwheel.windwheel4
  .roof
  .mill
  .house
  .verticalPipe
    .c
      .b
  .horizontalPipe
  ul.tree
    li
    li
    li
